.adopt-from-us{
margin-top: 6rem;
    margin-bottom: 6rem;
}

.adopt-from-us_line{
    padding: 1rem;
}

.adopt-from-us p{
    color: var(--color-text-on-light);
}


.adopt-from-us .line-under-heading{
    margin: 0 auto;
}

.adopt-from-us-header{
    text-align: center;
    margin: auto;
    color: var(--color-dark);
}

.adopt-from-us img{
    width: 100px;
}

.adopt-from-us-body{
    margin: auto;
    margin-top: 5rem;
    align-items: center;
    display: grid;
    grid-gap: 5rem;
    text-align: center;
}

.adopt-from-us-body li{
    list-style: none;
    margin: auto;
}

.adopt-from-us hr{
    width: 90%;
    margin: auto;
    background: var(--color-text-on-dark);
    height: 0.00001rem;
}


#adopt-from-us__for-border{
    border-bottom: 1px solid var(--color-text-on-dark);
    padding-bottom: 5%;
    margin: auto;
    width: 80%;
}


@media screen and (min-width: 768px) {
    .adopt-from-us-body{
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (min-width: 992px) {
    .adopt-from-us-body{
       display: flex;
       flex-direction: row ;
    }
}

.adopt-from-us__clock{
    font-size: 2rem;
    background: rgba(166, 165, 165, 0.11);
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
    color: #616470;
}