.adopt-from-us .line-under-heading{
    margin: 0 auto;
}

.adopt-from-us-header{
    text-align: center;
}

.adopt-from-us img{
    width: 100px;
}

.adopt-from-us-body{
    margin: 0 auto;
}

.adopt-from-us-body li{
    width: 270px;
    display: inline-block;
    margin: 0 auto;
}