.huski__breeds-selector {
    position: relative;      
}

.huski__breeds{
    height: 450px;
}

.breed-selector-card {
    width:100%;
    text-align: center;
    padding: 60px 35px 25px 35px;    
}

.breed-selector-card-first {
    background-color: var(--color-accent);
}

.breed-selector-card-second {
    background-color: var(--color-main);
}

.breed-selector-card-third {
    background-color: var(--color-secondary);
}

.breed-selector-card>h3 {
    font-size: 23px;
    font-weight: 700;
    color: var(--color-text-light);
    margin-bottom: 20px;
}

.breed-selector-card>p {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-light);
    margin-bottom: 40px;
    line-height: 25px;
}

.breed-selector-card>a {
    display: inline-block;
    width: 182px;
    height: 61px;
    background-color: var(--color-text-light);
    color: var(--color-bg-dark);
    text-decoration: none;
    padding-block: 20px;
    font-weight: 700;
    font-size: 13px;
}
.breed-selector-card>a:hover {
    color: var(--color-text-light);
    background-color: var(--color-bg-dark);
}
.huski__breeds__wrapper{
    background-color: var(--color-promo-section-bg);
}
/*_______________________________________________________________-*/
.champions{
    color: var(--color-text-light);
    background-color:var(--color-dark);
    padding-top: 480px;
}
.haski__champions-header {
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 15px;
}
.huski__champions-preview{
    text-align: center;
}
.huski__champions-preview>.line-under-heading{
    margin:15px auto;
}
.huski__champions-preview>p {
    color: var(--color-text-on-dark);
    font-weight: 400;
    line-height: 26px;
}

.huski__champions-preview-button {
    padding: 18px 25px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid var(--color-text-on-dark);
    color: var(--color-text-light);  
    margin-top: 40px;
}
.huski__champions-preview-button:hover{
    color: var(--color-bg-dark);
    background-color: var(--color-text-light);
}
.huski__champions-card>img {
    border-radius: 50%;
}
.huski__champions-card{
    text-align: center;  
    width: 300px;  
    padding-top:20px;
    margin: 20px auto;
}
.huski__champions-card-paragraph-bold{    
    margin: 20px auto;
    font-size: 24px;
    font-weight: 700;
}

@media (min-width: 768px){
    .huski__champions-list {
        display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .huski__breeds-selector {
        position: relative;  
        display: flex;
    }
    .huski__breeds{
        height: 150px;
    }
    .champions{
        padding-top: 250px;
    }
    .breed-selector-card{
        width: 33%;
        padding: 60px 15px 25px 15px; 
    }    

}
@media (min-width: 992px){
    .breed-selector-card {
        padding: 60px 35px 25px 35px;    
    }
    .champions-wrap {
        display: grid;
       padding-top: 180px;
       grid-template-columns: 1fr 2fr; 
    }
   .champions{
    padding-top: 20px;
    }
    .huski__champions-preview{
        text-align: left;
        padding-top: 40px;
    }
    .huski__champions-preview>.line-under-heading{
        margin:15px 0;
    }
}

