.buy-a-toy-for-your-puppy{
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.buy-a-toy-for-your-puppy h2{
    text-align: center;
}

.toy-card{
    margin: auto;
    padding: 2%;
    margin-top:3%;
    text-align: center;
}

.toys-for-puppies-list{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


.toy-card__image{
    width: 5rem;
}

.buy-a-toy-for-your-puppy p{
    color: var(--color-text-on-light);
}

.buy-a-toy-for-your-puppy h2, h3{
    color: var(--color-dark);
}

.toy-card__buttons-info , .toy-card__buttons-buy{
    text-decoration: none;
    color: var(--color-dark);
    text-align: center;
    background: var(--color-bg-buttons-light);
    width: 5rem;
    font-weight: bold;
    font-size: 12px;
    margin-top: 3%;
    line-height:2rem;
    border: none;
}

.toy-card__buttons-buy{
    width: 7rem;
    color: var(--color-dark);
    background-color: var(--color-main);
}

.toy-card__buttons-info:hover{
    background: var(--color-bg-dark);
    color: white;
}

.toy-card__buttons-buy:hover{
    background-color: var(--color-accent);
    color: var(--color-text-light);
    transition: .3s linear;
    transform: scale(1.0)
}

@media screen and (min-width: 768px) {
    .toys-for-puppies-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}
