* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-family: 'Open Sans', sans-serif;
    --color-main: #f4b51e;
    --color-main-hover: #D5990A;
    --color-accent: #F82764;
    --color-secondary: #619EC2;
    --color-dark: #222;
    --color-promo-section-bg: #F5F1EF;
    --color-text-on-dark: rgba(182, 182, 182, 0.4);
    --color-text-on-light: #616470;
    --color-month-title-on-light: rgba(97,100,112,0.55);    
    --color-contact-us: rgb(97,100,112); 
    --color-date-title: #619ec25f;
    --color-date-title-hover: #5d97b8;
    --color-text-light: #fff;
    --color-bg-light: #fff;
    --color-bg-section: #F7F7F7;
    --color-bg-dark: #000;
    --color-month-title-on-dark: rgba(247, 247, 247, 0.59);
    --outline-form-color: rgba(34, 34, 34, 0.12);
    --form-bg-color: #F7F7F7;
    --outline-active-color:#3B99FC;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}
@media (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0 40px;
    }
}
@media (min-width: 1280px) {
    .container {
        padding: 0 15px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -.03em;
}

.line-under-heading {
    margin: 15px 0;
    width: 35px;
    height: 3px;
    background-color: var(--color-main);
    transition: width 2s;
}



