* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    --color-main: #f4b51e;
    --color-main-hover: #D5990A;
    --color-accent: #F82764;
    --color-secondary: #619EC2;
    --color-dark: #222;
    --color-promo-section-bg: #F5F1EF;
    --color-text-on-dark: #B6B6B6;
    --color-text-on-light: #616470;
    --color-month-title-on-light: rgba(97,100,112,0.55);    
    --color-date-title: #619ec2;

    --color-text-light: #fff;
    --color-bg-light: #fff;
    --color-bg-dark: #000;
    --color-month-title-on-dark: rgba(247, 247, 247, 0.59);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -.03em;
}

.line-under-heading {
    width: 35px;
    height: 3px;
    background-color: var(--color-main);
}
