.contact__us-paragraph, .contact__us-detail-span-description{
    color: var(--color-contact-us);
    margin-bottom: 15px;
    line-height: 26px;
}
.contact__us-detail-span-paragraph{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}
.contact__us-map{
    width: 300px;
    margin-bottom: 30px;
}
.contact__us-detail-span-description>a{
    text-decoration: none;
    color: var(--color-contact-us);
    margin-bottom: 15px;
    line-height: 26px;
}
.contact__us-map{
    width: 80%;
    margin: auto;
}
#map{
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.contact__us-form{
    width: 90%;
    background-color: var(--color-month-title-on-dark);
    display: block;
    margin: 15px auto;
    background-color:var(--form-bg-color);
    padding: 30px 20px;

;}
#name, #email, #phone{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 19px 21px;
    background-color: var(--form-bg-color);
    border: none;
    border-bottom: 2px solid var(--outline-form-color);
    
}
#message{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 19px 21px 150px 21px;
    background-color: var(--form-bg-color);
    border: none;
    border-bottom: 2px solid var(--outline-form-color);
}
#name:focus, #email:focus, #phone:focus, #message:focus{
    border: none;
    outline: 2px solid var(--outline-active-color);
    border-radius: 3px;

}

