.footer {
    background-color: var(--color-bg-section);
}

.footer__logo {
    padding: 84px 0px 30px 0px;
}

.footer__logo_link {
    display: block;
    margin: auto;
}

.footer__menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.footer__menu_item, .footer__menu_item:visited {
    color: var(--color-dark);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin: 5px 7.5px;
}

.footer__menu_item:hover, .footer__menu_item:active {
    color: var(--color-main);
}

.footer__icons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer__copyright {
    padding-bottom: 20px;
}

.footer__copyright_text {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin: 5px 10px;
    color: var(--color-text-on-light);
}