.section-faq {
    background-color: var(--color-bg-section);
}
.section-faq-body {
    padding: 115px 20px 84px 20px;
}

.section-faq-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-faq__title {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}


.section-faq__text {
    max-width: 750px;
    text-align: center;
    display: block;
    margin: auto;
    line-height: 2;
    color: var(--color-text-on-light);
    padding: 20px 0px 60px 0px;
}

.section-faq__boxes {
    display: grid;
}

    @media (min-width: 320px) {
        .section-faq__boxes {
            grid-template-columns: 1fr;

        }
    }

    @media (min-width: 620px) {
        .section-faq__boxes {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }
    } 

    @media (min-width: 920px) {
        .section-faq__boxes {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
        }
    } 

.section-faq__box_title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--color-dark);
    padding-bottom: 20px;
}

.section-faq__box_text {
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-text-on-light);    
}

    @media (max-width: 619px) {
        .section-faq__box_text {
            padding-bottom: 20px;
        }
    }

