.about-us-header {
    display: grid;    
    padding: 40px 0 50px 0;    
}

    @media (min-width: 320px) {
        .about-us-header {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 768px) {
        .about-us-header {
            grid-template-columns: 1fr 1fr;
        }
    }

.about-us {
background: url('../img/bg/about-us-background.webp') center center/cover no-repeat;
background-attachment: fixed;
}

.about-us-left-column {
max-width: 350px;
}

.our-team-card-image {
    border-radius: 50%;
}

.about-us-header-text {
    color: var(--color-text-on-light);
    font-size: 16px;
    padding-bottom: 45px;
}

.about-us-text {
color: var(--color-month-title-on-light);
font-size: 15px;
padding-top: 45px;
}

.our-team-header-title {
    font-size: 30px;
    color: #141414;
}

.about-worker {
    color: var(--color-text-on-light);
    font-size: 15px;
    padding-bottom: 65px;
}

.our-team-cards {
    display: grid;
    grid-template-columns: 1fr;
}

.worker-name {
    font-size: 23px;
    color: var(--color-dark);
}

.line-under-our-team {
    margin: 15px 0;
    width: 35px;
    height: 3px;
    background-color: var(--color-accent);

}

.line-between-text {
    color: var(--color-month-title-on-light);
}

.our-team {
    max-width: 350px;
}
