.our-puppies-and-adults {
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}

.our-puppies-and-adults__header{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}

.our-puppies-and-adults__text {
    font-size: 16px;
    color: var(--color-text-on-light);
}

.our-puppies-and-adults__image-text {
    font-size: 24px;
    color: var(--color-text-on-light);
    margin-top: 20px;
}

.our-puppies-and-adults__cart-containar {
    display: flex;
}

.our-puppies-and-adults__image {
    /* display: block; */
    width: 100%;
}

.swiper-pagination {
    position: relative;
    margin-top: 20px;
}
