.parallax__section-want-to-buy-a-puppy {
    background-image: url("../img/bg/husky-background-section-want-to-buy-a-puppy.webp");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}