.parallax__contactUs {
    background-image: url("../img/bg/husky-background-contactUs.webp");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}