.partners {
    background: url(../img/partners-bg.webp) center center/cover no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 120px;
}
.partners-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.partners-header-title {
    color: var(--color-bg-light);
}

.partners-header-text {
    text-align: center;
    color: var(--color-bg-light);
}

.partners-slider {
    margin-top: 50px;
    position: relative;
    background-color: transparent;
}

.partners-slider .slick-list {
    overflow: hidden;
}

.partners-slider .slick-track {
    display: flex;
    align-items: flex-start;
}

.partners-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -40px 0 0 0;
    z-index: 10;
    width: 40px;
    height: 40px;
}

.partners-slider .slick-arrow.slick-prev {
    left: 0;
    font-size: 0;
    background: url("../img/section-partners/sl-arrow_l.svg") center center / 30% no-repeat;
    border: none;
    left: -20px;
}
.partners-slider .slick-arrow.slick-next {
    right: 0;
    font-size: 0;
    background: url("../img/section-partners/sl-arrow_r.svg") center center / 30% no-repeat;
    border: none;
    right: -20px;
}
.partners-slider .slick-dots {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}
.partners-slider .slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
}
.partners-slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}
.partners-slider .partners-slider-item {
    background-color: transparent;
    padding: 0 15px;
}

.partners-slider .partners-slider-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: rgb(56, 56, 56);
}


