.section-pricing {
    background-color: var(--color-bg-section);
}

.section-pricing__title {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 15px;
}

.section-pricing__underline {
    display: block;
    margin: auto;

}

.section-pricing__text {
    display: block;
    margin: auto;
    text-align: center;
    padding: 25px 0px 65px 0px;
    max-width: 700px;
    line-height: 2;
    color: var(--color-text-on-light);
}

.section-pricing-boxes {
    display: grid;
}

.section-pricing__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    margin: 30px 0px 30px 0px;
}

.section-pricing__box_left {    
    background-color: var(--color-accent);
}

.section-pricing__box_center {
    background-color: var(--color-main);
    height: 610px;
    margin: 0px;
}

.section-pricing__box_right {
    background-color: var(--color-secondary)
}

.section-pricing__breed-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-light);
    text-align: center;
    padding-bottom: 26px;

}
.section-pricing__price {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-text-light);
    text-align: center;
    padding-bottom: 26px;
}
.section-pricing__advantages {
    font-size: 15px;
    font-weight: 700;
    color: var(--color-text-light);
    text-align: center;
    padding-bottom: 26px;
}

.section-pricing__advatages-item {
    list-style: none;
    padding-bottom: 26px;
}
.section-pricing__button {
    display: flex;
    justify-content: center;
}

.section-pricing__link {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding: 5px 24px;    
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    background-color: var(--color-bg-light);
    color: var(--color-dark);
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;    
}

.section-pricing__link:hover {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
}

.section-pricing__link:active {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
}

.section-pricing__link:visited {
    background-color: var(--color-bg-light);
    color: var(--color-dark);
}


@media (min-width: 320px) {
    .section-pricing__title {    
        padding-top: 70px;
    }
    .section-pricing-boxes {        
        grid-template-columns: 1fr;  
        padding-bottom: 70px;    
    }    
}

@media (min-width: 930px) {
    .section-pricing-boxes {
        grid-template-columns: 1fr 1fr 1fr;  
        padding-bottom: 150px;    
    }
}