.partners {
    background: url(../img/partners-bg.webp) center center/cover no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 120px;
}
.partners-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 111px;
    border: 1px solid red;
}
.partners-header-title {
    color: var(--color-bg-light);
}

.partners-header-text {
    color: var(--color-bg-light);
}   

.slider {
    margin-top: 50px;
    border: 1px solid red;
}
.partners-cards {
    display: flex;
}
.partners-card {
    width: 263px;
    height: 229px;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    border: 1px solid red;
}