


/*SECTION-WHY-ADOPT-FROM-US*/



/* SECTION-WANT-TO-BUY-A-PUPPY? */
.parallax__contactUs {
    background-image: url("../img/bg/husky-background-contactUs.webp");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Puppies section styles */
.plate {
    width: 30%;
    float: left;
}

.plate-margin {
    margin-right: 5%;
}

.text-red {
    color: #F9356B;
}

.text-blue {
    color: #619DC1;
}

.text-yellow {
    color: #F3B51E;
}